@model ICFIP.Entites.TypeSpecialite

@{
    ViewBag.Title = "ajouterSpecialite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 col-md-offset-3">
    <div class="panel-group">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h2>ajouter Specialite</h2>
            </div>

            <div class="panel-body">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="col-md-6 col-md-offset-3">


                        <div class="editor-label">
                            @Html.LabelFor(model => model.LibelleSpecialite)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LibelleSpecialite)
                            @Html.ValidationMessageFor(model => model.LibelleSpecialite)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.DescriptionSpetialite)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DescriptionSpetialite)
                            @Html.ValidationMessageFor(model => model.DescriptionSpetialite)
                        </div>

                        <div class="editor-label">
                            @*@Html.LabelFor(model => model.IdSpetialite)*@
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.IdSpetialite)
                            @Html.ValidationMessageFor(model => model.IdSpetialite)
                        </div>

                        <p>
                            <input type="submit" class="btn btn-primary" value="ajouter" />
                        </p>
                        <div class="btn btn-primary">
                            @Html.ActionLink("Retourner", "GereSpecialite")
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <style>
        a {
            color: white;
        }
    </style>
