@model ICFIP.Entites.Salle

@{
    ViewBag.Title = "DeleteSalle";
}





<div class="col-md-6 col-md-offset-3">
    <div class="panel-group">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h2>Suuprmier  Salle</h2>

                <h3>Vous etez Sur?</h3>
            </div>
            <div class="panel-body">

                <div class="display-label">
                    @*@Html.DisplayNameFor(model => model.IdSalle)*@
                </div>
                <div class="display-field">
                    @Html.HiddenFor(model => model.IdSalle)
                </div>

                <div class="display-label">
                    @*@Html.DisplayNameFor(model => model.IdAdministrateur)*@
                </div>
                <div class="display-field">
                    @Html.HiddenFor(model => model.IdAdministrateur)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Libelle)
                    :
                    @Html.DisplayFor(model => model.Libelle)
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-info" value="Supprimer" />
                    <h1 class="btn btn-info">
                        @Html.ActionLink("Retourner", "Index")
                    </h1>
                }
            </div>
        </div>
    </div>
            </div>

