@model ICFIP.Entites.BTP

@{
    ViewBag.Title = "DeleteBtp";
}



<style>
    #footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        background-color: red;
    }

    .modal-body {
        max-height: calc(85vh - 210px);
        overflow-y: auto;
    }
</style>


<div style="margin-top:5%" class="row">
    <div style="margin-left:37%">
        <h2>Suuprmier  Btp</h2>

        <h3>Vous voulez vraiment supprimer ça?</h3>
    </div>
</div>
<div class="col-md-7 col-md-offset-4 modal-body ">
   
    <fieldset>
        <legend>BTP</legend>

        <div class="display-label">
            @*@Html.DisplayNameFor(model => model.IdBtp)*@
        </div>
        <div class="display-field">
            @Html.HiddenFor(model => model.IdBtp)
        </div>

        <div class="display-label">
            @*@Html.DisplayNameFor(model => model.Homolgue)*@
        </div>
        <div class="display-field">
            @Html.HiddenFor(model => model.Homolgue)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Libelle)
     :
            @Html.DisplayFor(model => model.Libelle)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.nbrannee)
       :
            @Html.DisplayFor(model => model.nbrannee)
        </div>

        <div class="display-label">
            @*@Html.DisplayNameFor(model => model.IdNiveau)*@
        </div>
        <div class="display-field">
            @Html.HiddenFor(model => model.IdNiveau)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-info" value="Supprimer" />
        <h1 class="btn btn-info">
            @Html.ActionLink("Retourner", "Index")
        </h1>
    }
</div>

