@model IEnumerable<ICFIP.Entites.Enseignant>

@{
    ViewBag.Title = "GetListEnseignant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row ">
    
       
    <h2 class="text-primary col-md-4 col-md-offset-4"> List des  Enseignants</h2>
        <div class="row ">
            <div class="col-md-9 col-md-offset-2">
                <div class="btn btn-primary">
                    @Html.ActionLink("Ajouter ", "CreatEnseignant")
                </div>
             
                <table class="table">
                    <tr class="btn-primary">


                        <th>
                            @Html.DisplayNameFor(model => model.Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prenom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateNaissance)
                        </th>


                        <th>
                            @Html.DisplayNameFor(model => model.NCin)
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="info">

                            <td>
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prenom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateNaissance)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NCin)
                            </td>
                            <td>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Ajouter Absence ", "Pssageditabsenseig", new { id = item.Idenseignant })|
                                </div>
                            </td>
                            <td>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Modifier Absence ", "ModifierAbsenceensei", new { id = item.Idenseignant })|
                                </div>
                            </td>

                            <td>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Modifier", "editEnseignant", new { id = item.Idenseignant }) |
                                </div>
                            </td>
                            <td>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Details", "DetailEnseignant", new { id = item.Idenseignant }) |
                                </div>
                            </td>
                            <td>
                                <div class="btn btn-primary">
                                    @Html.ActionLink("Supprimer", "DeleteEnseignant", new { id = item.Idenseignant }) |
                                </div>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

<ul class="menu">
    <li title="home"><a href="Index" class="home">Home</a></li>
    <li title="Branche"><a href="GereSpecialite" class="search">Branche</a></li>
    <li title="Formation"><a href="GereFormation" class="active about">Formation</a></li>
    <li title="Cour"><a href="Gerecour" class="pencil">Cour</a></li>
    <li title="Etudiant"><a href="GetListEtudiant" class="archive">Etudiant</a></li>

</ul>
<style>
    @@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

    a {
        color: white;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: #fff4f5;
        margin-top: 2.5cm;
    }

        .menu li a {
            display: block;
            height: em;
            width: 5em;
            text-indent: -500em;
            line-height: 5em;
            text-align: center;
            color: #337ab7;
            background: #fff4f5;
            position: relative;
            border-bottom: 1px solid #ffe2e3;
            transition: background 0.3s ease-in-out;
        }

            .menu li a:before {
                font-family: FontAwesome;
                speak: none;
                text-indent: 0em;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 1.4em;
            }

            .menu li a.search:before {
                content: "\f002";
            }

            .menu li a.archive:before {
                content: "\f187";
            }

            .menu li a.pencil:before {
                content: "\f040";
            }

            .menu li a.contact:before {
                content: "\f003";
            }

            .menu li a.about:before {
                content: "\f007";
            }

            .menu li a.home:before {
                content: "\f015";
            }

            .menu li a:hover {
                background: #337ab7;
                color: #fff;
            }

        .menu li.current a {
            background: #337ab7;
            color: #fff;
        }

        .menu li a.active {
            background: #337ab7;
            color: #fff;
        }

            .menu li a.active:after {
                position: absolute;
                left: 5em;
                top: 0;
                content: "";
                border: 2.5em solid transparent;
                border-left-color: #337ab7;
                border-width: 2.5em 1em;
            }

        .menu li {
            position: relative;
        }

            .menu li:after {
                content: attr(title);
                position: absolute;
                left: 5em;
                top: 0;
                height: 5em;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                text-transform: uppercase;
                background: #337ab7;
                padding: 2em;
                transition: all 0.3s ease-in-out;
                visibility: hidden;
                opacity: 0;
            }

            .menu li:hover:after {
                visibility: visible;
                opacity: 1;
            }

    @@media screen and (max-height: 34em) {
        .menu li {
            font-size: 70%;
        }
    }
</style>

